/* --- CONTAINER PRINCIPAL --- */
.conteudo {
  max-width: 800px;
  width: 90%;
  margin: 10px auto;
  padding: 0;
  background-color: #F8ECD2;
  color: #2E2418;
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* --- CABECALHO --- */
.cabecalho_catalogo {
  text-align: center;
  padding: 20px 10px 10px 10px;
  display: flex;
  height: 150px;
  align-items: center;
  background-color: #2E2418;
  color: white;
}

.logo-img {
  height: 100%;
  padding: 0px 20px;
}

.titulo_subtitulo_cabecalho {
  border-left-style: solid;
  border-left-width: thin;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}

.titulo_cabecalho {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Magnolia Script', 'Cinzel', serif;
  font-weight: bolder;
  flex: 1;                 /* ocupa metade */
  display: flex;
  align-items: center;     /* centraliza verticalmente o texto */
  justify-content: center; /* centraliza horizontalmente */
}

.subtitulo_cabecalho {
  opacity: 0.7;
  font-size: 1.2em;
  font-family: RhymeTH;

  flex: 1;                 /* ocupa metade */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- ÁREA DE CONTEÚDO (MAIN) --- */
.corpo_catalogo {
  padding: 20px;
}

/* --- RODAPÉ (FOOTER) --- */
.rodape_catalogo {
  background-color: #2E2418;
  color: #F8ECD2;
  padding: 50px 20px;
  text-align: center;
  border-top: 1px solid rgba(46, 36, 24, 0.3);
}

.link_rodape {
  margin: 0;
  font-size: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
}

.creditos_rodape {
  margin: 15px 0 0;
  font-size: 0.8em;
  opacity: 0.7;
  letter-spacing: 1px;
}
