/* --- CARTAO DE PRODUTO --- */
.cartao_produto {
  display: flex;
  align-items: center;
  background: #FFF;
  border: 1px solid #5cc8ff;
  border-radius: 20px;
  overflow: hidden;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.02);
  margin: 0 0 10px 0;
  border-left: 5px solid #5cc8ff;
  padding-left: 10px;
  padding-right: 10px;
}

/* --- PREVISUALIZACAO --- */
.previsualizacao_container {
  width: 178px;
  height: 250px;
  border-right-style: solid;
  border-right-color: rgba(46, 36, 24, 0.5);
  border-right-width: thin;
}

.carrossel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previsualizacao-scroll {
  display: flex;
  overflow-x: auto;
  gap: 0; /* Removido o gap para o snap ser exato */
  padding-bottom: 0px;
  border-left: #2E2418;
  min-width: 100%;
  min-height: 100%;
  scroll-snap-type: x mandatory; /* MÁGICA DO SNAP: Faz o scroll grudar nas páginas */
  scroll-behavior: smooth;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.previsualiacao-scroll::-webkit-scrollbar {
  display: none;
}

.pagina {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; /* Diz para o container grudar aqui */
  scroll-snap-stop: always;
}

.pagina img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Garante que não corte a página interna */
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  background: white;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.3s;
  padding-bottom: 5px;
}

.flecha_esquerda { left: 5px; }
.flecha_direita { right: 5px; }

.carrossel-container:hover .flecha {
  opacity: 0.8;
}

/* --- INFORMACAO --- */
.cartao-informacao {
  flex: 1.8; /* Ocupa mais espaço que a foto */
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nome_produto {
  font-size: 1.8em;
  color: #2E2418;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.descricao_produto {
  font-size: 0.95em;
  color: #4a3f35;
}

/* --- BOTÕES --- */
.botao_selecao {
  display: flex;
  gap: 15px;
  margin: 10px 10px 0px 10px;
  justify-content: center;
}

.bloco_botao {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    width: 50%;
}

.preco_produto {
  font-size: 1em;
  font-family: 'Georgia', serif;
  padding: 5px;
}

.btn_classico {
  padding: 10px;
  margin: 5px 20px;
  background-color: #8A7D71;
  color: white;
  font-size: 0.65em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Georgia', serif;
  border-radius: 30px;
  justify-content: center;
}

.btn_classico:hover {
  background-color: #4a3f35;
}

.diferencial {
  background-image: linear-gradient(to right, #dfbd69, #926f34);
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn_premium {
  padding: 10px;
  margin: 5px 20px;
  background-image: linear-gradient(to right, #dfbd69, #926f34);
  color: black;
  font-size: 0.65em;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Georgia', serif;
  border-radius: 30px;
  border: 1px solid #C19A6B;
}

.btn_premium:hover {
  background-color: #f7dfff;
}