/* Ajustes para tablets e celulares grandes */
@media (max-width: 768px) {
  .cartao-informacao { padding: 30px; }
  .conteudo { margin: 20px auto; width: 95%; }
}

/* Ajustes específicos para celulares */
@media (max-width: 576px) {

/* --- CABECALHO --- */
  .cabecalho_catalogo {
    padding: 10px;
    flex-direction: column;
    height: auto;
  }

  .logo-img {
    width: 50%;
  }

  .titulo_subtitulo_cabecalho {
    border-left-style: none;
  }

  .titulo_cabecalho {
    font-size: 1.3em;
    padding: 5px;
  }

  .subtitulo_cabecalho {
    font-size: 0.9em;
    padding: 5px;
  }

/* --- PRODUTOS --- */  
  .cartao_produto {
    flex-direction: column; /* Empilha a foto sobre as informações */
    height: auto;
  }

  .previsualizacao_container {
    border-right: none;
    border-bottom: 1px solid rgba(46, 36, 24, 0.1);
    padding: 10px 5px 5px 5px; /* Mais preenchimento na foto empilhada */
  }

  .cartao-informacao {
    padding: 5px 5px 10px 5px; /* Menor preenchimento lateral nas informações */
  }

  .nome_produto { font-size: 1.5em; }
  .preco_produto { font-size: 1.4em; }

  .botao_selecao {
    flex-direction: column; /* Empilha os botões */
    gap: 10px;
  }

  .bloco_botao {
    width: auto;
  }

  .btn_classico, .btn_premium {
    box-sizing: border-box;
  }

/* --- RODAPE --- */  
.rodape_catalogo {

}

.link_rodape {

}

.creditos_rodape {

}

}